<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/resources/css/buy.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/resources/css/basket.css}" rel="stylesheet"/>
    <title th:text="#{buy.title}"></title>
</head>
<body>
<div th:replace="~{navbar}"></div>
<div class="content">
    <h2 th:text="#{buy.header}"></h2>
    <p th:text="#{buy.description}"></p>
    <div class="inputs-div">
        <form method="get" action="/sell">
            <input id="search-input" type="text" name="searchInput" th:placeholder="#{sell.search}"
                   th:value="${searchInput}"/>
            <!-- <div id="filter-div"> -->
            <select id="filter-dd" name="filterItem" th:value="${filterItem}">
                <option value="">All</option>
                <option th:each="type : ${typeList}"
                        th:value="${type}"
                        th:text="${type}"
                        th:selected="${type == filterItem}">
                </option>
            </select>
            <!-- </div> -->
            <button type="submit"><img th:src="@{/resources/img/filter.png}"/></button>
        </form>
    </div>
    <table id="flower-table">
        <thead>
        <div class="table-header">
            <tr></tr>
            <th th:text="#{buy.table.head.icon}"></th>
            <th th:text="#{buy.table.head.name}"></th>
            <th th:text="#{buy.table.head.color}"></th>
            <th th:text="#{buy.table.head.quantity}"></th>
            <th th:text="#{buy.table.head.price}"></th>
            <th></th>
            </tr>
        </div>
        </thead>
        <tbody>
        <tr th:each="flower : ${flowers}">
            <td><img th:src="@{/resources/img/rose.png}"/></td>
            <td>
                <div class="text-cell name-cell" th:text="${flower.name}"></div>
            </td>
            <td>
                <div class="text-cell type-cell" th:text="${flower.color}"></div>
            </td>
            <td>
                <div class="text-cell quantity-cell" th:text="${flower.quantity}"></div>
            </td>
            <td>
                <div class="text-cell price-cell" th:text="${flower.pricing.buyPrice}"></div>
            </td>
            <td>
                <form method="post" action="/add-to-buyBasket">
                    <input type="hidden" name="redirectPage" value="buy"/>
                    <input type="hidden" name="productName" th:value="${flower.name}"/>
                    <button type="submit">
                        <img th:src="@{/resources/img/shopping-basket.png}"/>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="basket">
    <h2 class="basket-head">Modify order</h2>
    <div class="basket-head">
        <img class="basket-img" th:src="@{/resources/img/shopping-basket.png}"/>
        <b class="basket-header">Your basket</b>
    </div>
    <table class="basket-table">
        <tbody>
        <tr th:each="selectedBasket : ${buyBasket}">
            <td>
                <div class="basket-card">
                    <div class="basket-card-header">
                  <span
                          class="basket-card-name"
                          th:text="${selectedBasket.product.name}"
                  ></span>
                        <form method="post" action="/remove-from-buyBasket">
                            <input
                                    type="hidden"
                                    name="productName"
                                    th:value="${selectedBasket.product.name}"
                            />
                            <button type="submit">
                                <img
                                        class="basket-img close-btn"
                                        th:src="@{/resources/img/close.png}"
                                />
                            </button>
                        </form>
                    </div>
                    <div class="basket-card-body">
                        <p
                                class="basket-card-text"
                                th:text="${selectedBasket.quantityAsInteger} + 'x' + ${selectedBasket.product.pricing.buyPrice.number*1.0} + ' EUR'"
                        ></p>
                    </div>
                    <div class="basket-card-footer">
                  <span
                          th:text="${(selectedBasket.quantityAsInteger * 1.0) * selectedBasket.product.pricing.buyPrice.number*1.0} + ' EUR'"
                  ></span>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="basket-footer" th:unless="${buyBasket.isEmpty()}">
        <form th:action="@{/buy-from-buyBasket}" method="post">
            <input
                    class="basket-submit-btn"
                    type="submit"
                    th:value="#{basket.footer.button}"/>
        </form>
    </div>
</div>
</body>
</html>
