<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/resources/css/navbar.css}" rel="stylesheet" />
    <title th:text="#{giftcard.title}"></title>
  </head>
  <body>
    <div class="container-fluid vh-100">
      <div class="row vh-100">
        <div class="col-2 bg-light vh-100" th:replace="~{navbar}"></div>
        <div class="col-10 d-flex">
          <div
            class="col-6 d-flex flex-column align-items-center justify-content-center border-right"
          >
            <h2 th:text="#{giftcard.create.title}"></h2>
            <form method="post" action="/create-giftcard" class="text-center">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="amount"
                  id="amount20"
                  value="20"
                  checked
                />
                <label
                  class="form-check-label"
                  for="amount20"
                  th:text="#{giftcard.balance.20}"
                ></label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="amount"
                  id="amount40"
                  value="40"
                />
                <label
                  class="form-check-label"
                  for="amount40"
                  th:text="#{giftcard.balance.40}"
                ></label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="amount"
                  id="amount60"
                  value="60"
                />
                <label
                  class="form-check-label"
                  for="amount60"
                  th:text="#{giftcard.balance.60}"
                ></label>
              </div>
              <button
                type="submit"
                class="btn btn-primary mt-3"
                th:text="#{giftcard.buy}"
              ></button>
            </form>
            <div class="mt-4">
              <h4 th:text="#{giftcard.id.title}"></h4>
              <p
                class="text-success font-weight-bold"
                th:text="${giftCardId}"
              ></p>
            </div>
          </div>
          <div
            class="col-6 d-flex flex-column align-items-center justify-content-center"
          >
            <h2 th:text="#{giftcard.check.title}"></h2>
            <form method="get" action="/check-balance" class="text-center">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  name="giftCardId"
                  placeholder="Enter Gift Card ID"
                />
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                th:text="#{giftcard.check.balance}"
              ></button>
            </form>
            <div class="mt-4">
              <h4 th:text="#{giftcard.balance.title}"></h4>
              <p
                class="text-success font-weight-bold"
                th:text="${giftCardBalance}"
              ></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
