<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{services.title}">Services</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="text-center mb-4">
        <h1 th:text="#{services.title}">Services</h1>
      </div>

      <!-- Navigation Tabs -->
      <ul class="nav nav-tabs" id="serviceTabs" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="contracts-tab"
            data-toggle="tab"
            href="#contracts"
            role="tab"
            aria-controls="contracts"
            aria-selected="true"
            th:text="#{services.contracts}"
            >Contracts</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="events-tab"
            data-toggle="tab"
            href="#events"
            role="tab"
            aria-controls="events"
            aria-selected="false"
            th:text="#{services.events}"
            >Events</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="reservations-tab"
            data-toggle="tab"
            href="#reservations"
            role="tab"
            aria-controls="reservations"
            aria-selected="false"
            th:text="#{services.reservations}"
            >Reservations</a
          >
        </li>
      </ul>

      <!-- Button to create a new service -->
      <div class="d-flex justify-content-right mb-4">
        <button
          class="btn btn-primary"
          th:text="#{services.create_new}"
          th:href="@{/services/new}"
        >
          new service
        </button>
      </div>

      <!-- Tab Content -->
      <div class="tab-content" id="serviceTabsContent">
        <!-- Contracts Tab -->
        <div
          class="tab-pane fade show active"
          id="contracts"
          role="tabpanel"
          aria-labelledby="contracts-tab"
        >
          <div class="row mt-3">
            <div class="col-md-4 mb-4" th:each="contract : ${contracts}">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">
                    <span th:text="#{client.name}">Client Name</span>:
                    <span th:text="${contract.client.name}">Not found</span>
                  </h5>
                  <p class="card-text">
                    <span th:text="#{contract.frequency}">Frequency</span>:
                    <span th:text="${contract.frequency}">Not found</span>
                  </p>
                  <p class="card-text">
                    <span th:text="#{contract.startDate}">Start Date</span>:
                    <span th:text="${contract.startDate}">Not found</span>
                  </p>
                  <p class="card-text">
                    <span th:text="#{contract.endDate}">End Date</span>:
                    <span th:text="${contract.endDate}">Not found</span>
                  </p>
                  <p class="card-text">
                    <span th:text="#{contract.orderStatus}">Status</span>:
                    <span th:text="${contract.orderStatus}">Not found</span>
                  </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  <a
                    th:href="@{/services/contracts/edit/{id}(id=${contract.id})}"
                    class="btn btn-secondary"
                    th:text="#{action.edit}"
                    >Edit</a
                  >
                  <a
                    th:href="@{/services/contracts/delete/{id}(id=${contract.id})}"
                    class="btn btn-danger"
                    th:text="#{action.delete}"
                    >Delete</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Events Tab -->
        <div
          class="tab-pane fade"
          id="events"
          role="tabpanel"
          aria-labelledby="events-tab"
        >
          <div class="row mt-3">
            <div class="col-md-4 mb-4" th:each="event : ${events}">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">
                    <span th:text="#{client.name}">Client Name</span>:
                    <span th:text="${event.client.name}">Not found</span>
                  </h5>
                  <p class="card-text">
                    <span th:text="#{event.eventDate}">Event Date</span>:
                    <span th:text="${event.eventDate}">Not found</span>
                  </p>
                  <p class="card-text">
                    <span th:text="#{event.deliveryAddress}"
                      >Delivery Address</span
                    >: <span th:text="${event.deliveryAddress}">Not found</span>
                  </p>
                  <p class="card-text">
                    <span th:text="#{event.orderStatus}">Status</span>:
                    <span th:text="${event.orderStatus}">Not found</span>
                  </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  <a
                    th:href="@{/services/events/edit/{id}(id=${event.id})}"
                    class="btn btn-secondary"
                    th:text="#{action.edit}"
                    >Edit</a
                  >
                  <a
                    th:href="@{/services/events/delete/{id}(id=${event.id})}"
                    class="btn btn-danger"
                    th:text="#{action.delete}"
                    >Delete</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Reservations Tab -->
        <div
          class="tab-pane fade"
          id="reservations"
          role="tabpanel"
          aria-labelledby="reservations-tab"
        >
          <div class="row mt-3">
            <div class="col-md-4 mb-4" th:each="reservation : ${reservations}">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">
                    <span th:text="#{client.name}">Client Name</span>:
                    <span th:text="${reservation.client.name}">Not found</span>
                  </h5>
                  <p class="card-text">
                    <span th:text="#{reservation.time}">Reservation Time</span>:
                    <span th:text="${reservation.reservationDateTime}"
                      >Not found</span
                    >
                  </p>
                  <p class="card-text">
                    <span th:text="#{reservation.orderStatus}">Status</span>:
                    <span th:text="${reservation.orderStatus}">Not found</span>
                  </p>
                  <p class="card-text">
                    <span th:text="#{reservation.reservationStatus}"
                      >Status</span
                    >:
                    <span th:text="${reservation.reservationStatus}"
                      >Not found</span
                    >
                  </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                  <a
                    th:href="@{/services/reservations/edit/{id}(id=${reservation.id})}"
                    class="btn btn-secondary"
                    th:text="#{action.edit}"
                    >Edit</a
                  >
                  <a
                    th:href="@{/services/reservations/delete/{id}(id=${reservation.id})}"
                    class="btn btn-danger"
                    th:text="#{action.delete}"
                    >Delete</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
