<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="#{services.title}">Services</title>
    <link th:href="@{/resources/css/navbar.css}" rel="stylesheet"/>

</head>
<body>

<div class="container-fluid vh-100">
    <div class="row">
        <div class="col" th:replace="~{navbar}"></div>
        <div class="col">
            <div class="text-center mb-4">
                <h1 th:text="#{services.title}">Services</h1>
            </div>

            <!-- Navigation Tabs with Button -->
            <div class="d-flex flex-row align-items-center">
                <a class="btn btn-primary ml-auto" th:text="#{services.create}" th:href="@{/services/create}">
                    Create service
                </a>

                <ul class="col nav nav-tabs flex-grow-1" id="serviceTabs" role="tablist">
                    <li class="col nav-item">
                        <a class="nav-link active" id="contracts-tab" data-toggle="tab" href="#contracts" role="tab"
                           aria-controls="contracts" aria-selected="true" th:text="#{services.contracts}">Contracts</a>
                    </li>
                    <li class="col nav-item">
                        <a class="nav-link" id="events-tab" data-toggle="tab" href="#events" role="tab"
                           aria-controls="events" aria-selected="false" th:text="#{services.events}">Events</a>
                    </li>
                    <li class="col nav-item">
                        <a class="nav-link" id="reservations-tab" data-toggle="tab" href="#reservations" role="tab"
                           aria-controls="reservations" aria-selected="false"
                           th:text="#{services.reservations}">Reservations</a>
                    </li>
                </ul>

            </div>

            <!-- Tab Content -->
            <div class="tab-content" id="serviceTabsContent">
                <!-- Contracts Tab -->
                <div class="tab-pane fade show active" id="contracts" role="tabpanel" aria-labelledby="contracts-tab">
                    <div class="row mt-3">
                        <div class="col-md-4 mb-4" th:each="contract : ${contracts}">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title"><span th:text="#{client.name}">Client Name</span>: <span
                                            th:text="${contract.client.name}">Not found</span></h5>
                                    <p class="card-text"><span th:text="#{contract.frequency}">Frequency</span>: <span
                                            th:text="${contract.contractType}">Not found</span></p>
                                    <p class="card-text"><span th:text="#{contract.startDate}">Start Date</span>: <span
                                            th:text="${contract.startDate}">Not found</span></p>
                                    <p class="card-text"><span th:text="#{contract.endDate}">End Date</span>: <span
                                            th:text="${contract.endDate}">Not found</span></p>
                                    <p class="card-text"><span th:text="#{contract.orderStatus}">Order Status</span>:
                                        <span th:switch="${contract.orderStatus.name()}">
                                        <span th:case="OPEN" th:text="#{order.status.open}">Open</span>
                                        <span th:case="PAID" th:text="#{order.status.paid}">Paid</span>
                                        <span th:case="COMPLETED" th:text="#{order.status.completed}">Completed</span>
                                        <span th:case="CANCELED" th:text="#{order.status.canceled}">Canceled</span>
                                        <span th:case="*">Not found</span>
                                    </span></p>
                                    <p class="card-text"><span th:text="#{order.paymentMethod}">Payment Method</span>:
                                        <span th:if="${contract.paymentMethod.toString().contains('Cash')}"
                                              th:text="#{order.payment.cash}">Cash</span>
                                        <span th:if="${contract.paymentMethod.toString().contains('Card')}"
                                              th:text="#{order.payment.card}">Card</span>
                                        <span th:if="${!contract.paymentMethod.toString().contains('Cash') and !contract.paymentMethod.toString().contains('Card')}">Not found</span>
                                    </p>
                                    <p class="card-text"><span th:text="#{contract.servicePrice}">Service price</span>:
                                        <span th:text="${contract.getChargeLines().getTotal().getNumber()}">Not found</span>
                                    </p>
                                    <h6 th:text="#{order.products}">Products</h6>
                                    <ul>
                                        <li th:each="orderLine : ${contract.orderLines}">
                                            <span th:text="${orderLine.productName}">Not found</span>,
                                            <span th:text="${orderLine.quantity}">Not found</span>,
                                            <span th:text="${orderLine.price}">Not found</span>
                                        </li>
                                    </ul>
                                    <br>
                                    <span class="font-weight-bold" th:text="#{order.totalPrice}">Total price</span>:
                                    <span th:text="${contract.getTotal()}">Not found</span>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <a th:href="@{/services/contracts/edit/{id}(id=${contract.getId()})}"
                                       class="btn btn-secondary"
                                       th:text="#{action.edit}">Edit</a>

                                    <a th:href="@{/services/contracts/view/{id}(id=${contract.getId()})}"
                                       class="btn btn-secondary"
                                       th:text="#{action.view}">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Events Tab -->
                <div class="tab-pane fade" id="events" role="tabpanel" aria-labelledby="events-tab">
                    <div class="row mt-3">
                        <div class="col-md-4 mb-4" th:each="event : ${events}">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title"><span th:text="#{client.name}">Client Name</span>: <span
                                            th:text="${event.client.name}">Not found</span></h5>
                                    <p class="card-text"><span th:text="#{event.eventDate}">Event Date</span>: <span
                                            th:text="${event.eventDate}">Not found</span></p>
                                    <p class="card-text"><span
                                            th:text="#{event.deliveryAddress}">Delivery Address</span>: <span
                                            th:text="${event.deliveryAddress}">Not found</span></p>
                                    <p class="card-text"><span th:text="#{event.orderStatus}">Status</span>:
                                        <span th:switch="${event.orderStatus.name()}">
                                        <span th:case="OPEN" th:text="#{order.status.open}">Open</span>
                                        <span th:case="PAID" th:text="#{order.status.paid}">Paid</span>
                                        <span th:case="COMPLETED" th:text="#{order.status.completed}">Completed</span>
                                        <span th:case="CANCELED" th:text="#{order.status.canceled}">Canceled</span>
                                        <span th:case="*">Not found</span>
                                    </span>
                                    </p>
                                    <p class="card-text"><span th:text="#{order.paymentMethod}">Payment Method</span>:
                                        <span th:if="${event.paymentMethod.toString().contains('Cash')}"
                                              th:text="#{order.payment.cash}">Cash</span>
                                        <span th:if="${event.paymentMethod.toString().contains('Card')}"
                                              th:text="#{order.payment.card}">Card</span>
                                        <span th:if="${!event.paymentMethod.toString().contains('Cash') and !event.paymentMethod.toString().contains('Card')}">Not found</span>
                                    </p>
                                    <p class="card-text"><span th:text="#{event.deliveryPrice}">Delivery price</span>:
                                        <span th:text="${event.getChargeLines().getTotal().getNumber()}">Not found</span>
                                    </p>
                                    <h6 th:text="#{order.products}">Products</h6>
                                    <ul>
                                        <li th:each="orderLine : ${event.orderLines}">
                                            <span th:text="${orderLine.productName}">Not found</span>,
                                            <span th:text="${orderLine.quantity}">Not found</span>,
                                            <span th:text="${orderLine.price}">Not found</span>
                                        </li>
                                    </ul>
                                    <br>
                                    <span class="font-weight-bold" th:text="#{order.totalPrice}">Total price</span>:
                                    <span th:text="${event.getTotal()}">Not found</span>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <a th:href="@{/services/events/edit/{id}(id=${event.id})}" class="btn btn-secondary"
                                       th:text="#{action.edit}">Edit</a>
                                    <a th:href="@{/services/events/view/{id}(id=${event.getId()})}"
                                       class="btn btn-secondary"
                                       th:text="#{action.view}">View</a>
                                    <form th:action="@{'/services/events/edit/' + ${event.id}}" method="post"
                                          th:if="${event.orderStatus.name() == 'OPEN'}">
                                        <input type="hidden" name="_method" value="put"/>
                                        <input type="hidden" name="clientName" th:value="${event.client.name}"/>
                                        <input type="hidden" name="eventDate" th:value="${event.eventDate}"/>
                                        <input type="hidden" name="deliveryAddress"
                                               th:value="${event.deliveryAddress}"/>
                                        <input type="hidden" name="phone" th:value="${event.client.phone}"/>
                                        <input type="hidden" name="paymentMethod" th:value="${event.paymentMethod}"/>
                                        <input type="hidden" name="orderStatus" value="PAID"/>
                                        <input type="hidden" name="notes" th:value="${event.notes}"/>
                                        <input type="hidden" name="deliveryPrice"
                                               th:value="${event.getChargeLines().getTotal().getNumber()}"/>
                                        <div th:each="orderLine : ${event.orderLines}">
                                            <input type="hidden"
                                                   th:name="'products[' + ${orderLine.productIdentifier} + ']'"
                                                   th:value="${orderLine.productIdentifier}"/>
                                            <input type="hidden"
                                                   th:name="'quantities[' + ${orderLine.productIdentifier} + ']'"
                                                   th:value="${orderLine.quantity}"/>
                                        </div>
                                        <button type="submit" class="btn btn-success" th:text="#{order.status.paid}">
                                            Paid
                                        </button>
                                    </form>
                                    <form th:action="@{'/services/events/edit/' + ${event.id}}" method="post"
                                          th:if="${event.orderStatus.name() == 'PAID'}">
                                        <input type="hidden" name="_method" value="put"/>
                                        <input type="hidden" name="clientName" th:value="${event.client.name}"/>
                                        <input type="hidden" name="eventDate" th:value="${event.eventDate}"/>
                                        <input type="hidden" name="deliveryAddress"
                                               th:value="${event.deliveryAddress}"/>
                                        <input type="hidden" name="phone" th:value="${event.client.phone}"/>
                                        <input type="hidden" name="paymentMethod" th:value="${event.paymentMethod}"/>
                                        <input type="hidden" name="orderStatus" value="COMPLETED"/>
                                        <input type="hidden" name="notes" th:value="${event.notes}"/>
                                        <input type="hidden" name="deliveryPrice"
                                               th:value="${event.getChargeLines().getTotal().getNumber()}"/>
                                        <div th:each="orderLine : ${event.orderLines}">
                                            <input type="hidden"
                                                   th:name="'products[' + ${orderLine.productIdentifier} + ']'"
                                                   th:value="${orderLine.productIdentifier}"/>
                                            <input type="hidden"
                                                   th:name="'quantities[' + ${orderLine.productIdentifier} + ']'"
                                                   th:value="${orderLine.quantity}"/>
                                        </div>
                                        <button type="submit" class="btn btn-primary"
                                                th:text="#{order.status.completed}">
                                            Completed
                                        </button>
                                    </form>
                                    <form th:action="@{'/services/events/edit/' + ${event.id}}" method="post"
                                          th:if="${event.orderStatus.name() == 'OPEN'}">
                                        <input type="hidden" name="_method" value="put"/>
                                        <input type="hidden" name="clientName" th:value="${event.client.name}"/>
                                        <input type="hidden" name="eventDate" th:value="${event.eventDate}"/>
                                        <input type="hidden" name="deliveryAddress"
                                               th:value="${event.deliveryAddress}"/>
                                        <input type="hidden" name="phone" th:value="${event.client.phone}"/>
                                        <input type="hidden" name="paymentMethod" th:value="${event.paymentMethod}"/>
                                        <input type="hidden" name="orderStatus" value="CANCELED"/>
                                        <input type="hidden" name="notes" th:value="${event.notes}"/>
                                        <input type="hidden" name="deliveryPrice"
                                               th:value="${event.getChargeLines().getTotal().getNumber()}"/>
                                        <div th:each="orderLine : ${event.orderLines}">
                                            <input type="hidden"
                                                   th:name="'products[' + ${orderLine.productIdentifier} + ']'"
                                                   th:value="${orderLine.productIdentifier}"/>
                                            <input type="hidden"
                                                   th:name="'quantities[' + ${orderLine.productIdentifier} + ']'"
                                                   th:value="${orderLine.quantity}"/>
                                        </div>
                                        <button type="submit" class="btn btn-danger" th:text="#{action.cancel}">Cancel
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Reservations Tab -->
                <div class="tab-pane fade" id="reservations" role="tabpanel" aria-labelledby="reservations-tab">
                    <div class="row mt-3">
                        <div class="col-md-4 mb-4" th:each="reservation : ${reservations}">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h5 class="card-title"><span th:text="#{client.name}">Client Name</span>: <span
                                            th:text="${reservation.client.name}">Not found</span></h5>
                                    <p class="card-text"><span th:text="#{reservation.time}">Reservation Time</span>:
                                        <span
                                                th:text="${reservation.reservationDateTime}">Not found</span></p>
                                    <p class="card-text"><span
                                            th:text="#{reservation.orderStatus}">Order Status</span>:
                                        <span th:switch="${reservation.orderStatus.name()}">
                                        <span th:case="OPEN" th:text="#{order.status.open}">Open</span>
                                        <span th:case="PAID" th:text="#{order.status.paid}">Paid</span>
                                        <span th:case="COMPLETED" th:text="#{order.status.completed}">Completed</span>
                                        <span th:case="CANCELED" th:text="#{order.status.canceled}">Canceled</span>
                                        <span th:case="*">Not found</span>
                                    </span>
                                    </p>
                                    <p class="card-text">
                                        <span th:text="#{reservation.reservationStatus}">Reservation Status</span>:
                                        <span th:switch="${reservation.reservationStatus.name()}">
                                        <span th:case="IN_PROCESS" th:text="#{order.status.inProcess}">In Process</span>
                                        <span th:case="READY_FOR_PICKUP"
                                              th:text="#{order.status.readyForPickup}">Ready For Pick-up</span>
                                        <span th:case="PICKED_UP" th:text="#{order.status.pickedUp}">Picked Up</span>
                                    <span th:case="*">Not found</span>
                                    </span>
                                    </p>
                                    <p class="card-text"><span
                                            th:text="#{order.paymentMethod}">Payment Method</span>:
                                        <span th:if="${reservation.paymentMethod.toString().contains('Cash')}"
                                              th:text="#{order.payment.cash}">Cash</span>
                                        <span th:if="${reservation.paymentMethod.toString().contains('Card')}"
                                              th:text="#{order.payment.card}">Card</span>
                                        <span th:if="${!reservation.paymentMethod.toString().contains('Cash') and !reservation.paymentMethod.toString().contains('Card')}">Not found</span>
                                    </p>
                                    <h6 th:text="#{order.products}">Products</h6>
                                    <ul>
                                        <li th:each="orderLine : ${reservation.orderLines}">
                                            <span th:text="${orderLine.productName}">Not found</span>,
                                            <span th:text="${orderLine.quantity}">Not found</span>,
                                            <span th:text="${orderLine.price}">Not found</span>
                                        </li>
                                    </ul>
                                    <br>
                                    <span class="font-weight-bold" th:text="#{order.totalPrice}">Total price</span>:
                                    <span th:text="${reservation.getTotal()}">Not found</span>
                                </div>
                                <div class="card-footer d-flex justify-content-between">
                                    <a th:href="@{/services/reservations/edit/{id}(id=${reservation.id})}"
                                       class="btn btn-secondary" th:text="#{action.edit}">Edit</a>
                                    <a th:href="@{/services/reservations/view/{id}(id=${reservation.getId()})}"
                                       class="btn btn-secondary"
                                       th:text="#{action.view}">View</a>
                                    <form th:action="@{'/services/reservations/edit/' + ${reservation.id}}"
                                          method="post"
                                          th:if="${reservation.orderStatus.name() == 'OPEN'}">
                                        <input type="hidden" name="_method" value="put"/>
                                        <input type="hidden" name="clientName" th:value="${reservation.client.name}"/>
                                        <input type="hidden" name="reservationDateTime"
                                               th:value="${reservation.reservationDateTime}"/>
                                        <input type="hidden" name="phone" th:value="${reservation.client.phone}"/>
                                        <input type="hidden" name="paymentMethod"
                                               th:value="${reservation.paymentMethod}"/>
                                        <input type="hidden" name="orderStatus" value="PAID"/>
                                        <input type="hidden" name="notes" th:value="${reservation.notes}"/>
                                        <input type="hidden" name="reservationStatus"
                                               th:value="${reservation.reservationStatus}"/>
                                        <div th:each="orderLine : ${reservation.orderLines}">
                                            <input type="hidden"
                                                   th:name="'products[' + ${orderLine.productIdentifier} + ']'"
                                                   th:value="${orderLine.productIdentifier}"/>
                                            <input type="hidden"
                                                   th:name="'quantities[' + ${orderLine.productIdentifier} + ']'"
                                                   th:value="${orderLine.quantity}"/>
                                        </div>
                                        <button type="submit" class="btn btn-success" th:text="#{order.status.paid}">
                                            Paid
                                        </button>
                                    </form>
                                    <form th:action="@{'/services/reservations/edit/' + ${reservation.id}}"
                                          method="post"
                                          th:if="${reservation.orderStatus.name() == 'PAID'}">
                                        <input type="hidden" name="_method" value="put"/>
                                        <input type="hidden" name="clientName" th:value="${reservation.client.name}"/>
                                        <input type="hidden" name="reservationDateTime"
                                               th:value="${reservation.reservationDateTime}"/>
                                        <input type="hidden" name="phone" th:value="${reservation.client.phone}"/>
                                        <input type="hidden" name="paymentMethod"
                                               th:value="${reservation.paymentMethod}"/>
                                        <input type="hidden" name="orderStatus" value="COMPLETED"/>
                                        <input type="hidden" name="notes" th:value="${reservation.notes}"/>
                                        <input type="hidden" name="reservationStatus"
                                               th:value="${reservation.reservationStatus}"/>
                                        <div th:each="orderLine : ${reservation.orderLines}">
                                            <input type="hidden"
                                                   th:name="'products[' + ${orderLine.productIdentifier} + ']'"
                                                   th:value="${orderLine.productIdentifier}"/>
                                            <input type="hidden"
                                                   th:name="'quantities[' + ${orderLine.productIdentifier} + ']'"
                                                   th:value="${orderLine.quantity}"/>
                                        </div>
                                        <button type="submit" class="btn btn-primary"
                                                th:text="#{order.status.completed}">
                                            Completed
                                        </button>
                                    </form>
                                    <form th:action="@{'/services/reservations/edit/' + ${reservation.id}}"
                                          method="post"
                                          th:if="${reservation.reservationStatus.name() == 'IN_PROCESS'}">
                                        <input type="hidden" name="_method" value="put"/>
                                        <input type="hidden" name="clientName" th:value="${reservation.client.name}"/>
                                        <input type="hidden" name="reservationDateTime"
                                               th:value="${reservation.reservationDateTime}"/>
                                        <input type="hidden" name="phone" th:value="${reservation.client.phone}"/>
                                        <input type="hidden" name="paymentMethod"
                                               th:value="${reservation.paymentMethod}"/>
                                        <input type="hidden" name="reservationStatus" value="READY_FOR_PICKUP"/>
                                        <input type="hidden" name="notes" th:value="${reservation.notes}"/>
                                        <input type="hidden" name="orderStatus" th:value="${reservation.orderStatus}"/>
                                        <div th:each="orderLine : ${reservation.orderLines}">
                                            <input type="hidden"
                                                   th:name="'products[' + ${orderLine.productIdentifier} + ']'"
                                                   th:value="${orderLine.productIdentifier}"/>
                                            <input type="hidden"
                                                   th:name="'quantities[' + ${orderLine.productIdentifier} + ']'"
                                                   th:value="${orderLine.quantity}"/>
                                        </div>
                                        <button type="submit" class="btn btn-warning"
                                                th:text="#{order.status.readyForPickup}">Ready For Pick-up
                                        </button>
                                    </form>
                                    <form th:action="@{'/services/reservations/edit/' + ${reservation.id}}"
                                          method="post"
                                          th:if="${reservation.reservationStatus.name() == 'READY_FOR_PICKUP'}">
                                        <input type="hidden" name="_method" value="put"/>
                                        <input type="hidden" name="clientName" th:value="${reservation.client.name}"/>
                                        <input type="hidden" name="reservationDateTime"
                                               th:value="${reservation.reservationDateTime}"/>
                                        <input type="hidden" name="phone" th:value="${reservation.client.phone}"/>
                                        <input type="hidden" name="paymentMethod"
                                               th:value="${reservation.paymentMethod}"/>
                                        <input type="hidden" name="reservationStatus" value="PICKED_UP"/>
                                        <input type="hidden" name="notes" th:value="${reservation.notes}"/>
                                        <input type="hidden" name="orderStatus" th:value="${reservation.orderStatus}"/>
                                        <div th:each="orderLine : ${reservation.orderLines}">
                                            <input type="hidden"
                                                   th:name="'products[' + ${orderLine.productIdentifier} + ']'"
                                                   th:value="${orderLine.productIdentifier}"/>
                                            <input type="hidden"
                                                   th:name="'quantities[' + ${orderLine.productIdentifier} + ']'"
                                                   th:value="${orderLine.quantity}"/>
                                        </div>
                                        <button type="submit" class="btn btn-info" th:text="#{order.status.pickedUp}">
                                            Picked Up
                                        </button>
                                    </form>
                                    <form th:action="@{'/services/reservations/edit/' + ${reservation.id}}"
                                          method="post"
                                          th:if="${reservation.orderStatus.name() == 'OPEN'}">
                                        <input type="hidden" name="_method" value="put"/>
                                        <input type="hidden" name="clientName" th:value="${reservation.client.name}"/>
                                        <input type="hidden" name="reservationDateTime"
                                               th:value="${reservation.reservationDateTime}"/>
                                        <input type="hidden" name="phone" th:value="${reservation.client.phone}"/>
                                        <input type="hidden" name="paymentMethod"
                                               th:value="${reservation.paymentMethod}"/>
                                        <input type="hidden" name="orderStatus" value="CANCELED"/>
                                        <input type="hidden" name="notes" th:value="${reservation.notes}"/>
                                        <input type="hidden" name="reservationStatus"
                                               th:value="${reservation.reservationStatus}"/>
                                        <div th:each="orderLine : ${reservation.orderLines}">
                                            <input type="hidden"
                                                   th:name="'products[' + ${orderLine.productIdentifier} + ']'"
                                                   th:value="${orderLine.productIdentifier}"/>
                                            <input type="hidden"
                                                   th:name="'quantities[' + ${orderLine.productIdentifier} + ']'"
                                                   th:value="${orderLine.quantity}"/>
                                        </div>
                                        <button type="submit" class="btn btn-danger" th:text="#{action.cancel}">Cancel
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>