<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{calendar.title}"></title>
    <link th:href="@{/resources/css/calendar.css}" rel="stylesheet" />
    <link th:href="@{/resources/css/navbar.css}" rel="stylesheet" />


</head>
<body>

<div class="d-flex flex-row vh-100">
    <div th:replace="~{navbar}"></div>
    <div class="container-fluid d-flex flex-column justify-content-center m-5 ">


    <div class="d-flex flex-row align-content-center justify-content-center font-weight-bold  ">

                <a class="m-3" th:href="@{/calendar/previous(month=${currentMonth}, year=${currentYear})}" th:text="'&lt ' + #{calendar.previous} "></a>
                <div class="m-3" th:text="#{calendar.title} +' '+ ${currentMonth} + '/' + ${currentYear}"></div>
                <a class="m-3" th:href="@{/calendar/next(month=${currentMonth}, year=${currentYear})}" th:text="#{calendar.next} + '&gt' "></a>

    </div>

        <div class="flex-grow-1 overflow-auto flex flex-column align-items-center">
                <div class="row calendar-header">
                    <div th:text="#{calendar.Sun}"></div>
                    <div th:text="#{calendar.Mon}"></div>
                    <div th:text="#{calendar.Tue}"></div>
                    <div th:text="#{calendar.Wed}"></div>
                    <div th:text="#{calendar.Thu}"></div>
                    <div th:text="#{calendar.Fri}"></div>
                    <div th:text="#{calendar.Sat}"></div>


                </div>
                <div class="row calendar-grid p-2 m-2">
                    <div th:each="day:${calendarDays}" class="day"
                    th:classappend="${day.getState()} ? 'current-month' : 'other-month'">
                        <div class="date" th:text="${day.getDate().dayOfMonth}"></div>
                        <div th:each="event : ${day.events}"  class="event">

                            <div class="font-weight-bold" th:text="${event.name}"></div>
                            <div class="font-italic" th:text="${event.description}"></div>
                                <div th:if="${event.type} != 'contract'">
                                <form th:action="@{/calendar/delete}" method="post" class="d-inline">
                                    <input type="hidden" name="id" th:value="${event.id}" />
                                    <button type="submit" class="btn btn-danger btn-sm" th:text="#{calendar.delete}"></button>

                                </form>
                                </div>

                            <a th:if="${event.type} == 'contract'"
                               th:href="@{/services/contracts/edit/{id}(id=${event.getOrderId()})}"
                               class="btn btn-secondary"
                               th:text="#{action.edit}">Edit</a>
                            <a th:if="${event.type} == 'event'"
                               th:href="@{/services/events/edit/{id}(id=${event.getOrderId()})}"
                               class="btn btn-secondary"
                               th:text="#{action.edit}">Edit</a>
                            <a th:if="${event.type} == 'reservation'"
                               th:href="@{/services/reservations/edit/{id}(id=${event.getOrderId()})}"
                               class="btn btn-secondary"
                               th:text="#{action.edit}">Edit</a>

                            <a th:if="${event.type} == 'contract'"
                               th:href="@{/services/contracts/view/{id}(id=${event.getOrderId()})}"
                               class="btn btn-primary btn-sm"
                               th:text="#{calendar.view.title}"></a>
                            <a th:if="${event.type} == 'event'"
                               th:href="@{/services/events/view/{id}(id=${event.getOrderId()})}"
                               class="btn btn-primary btn-sm"
                               th:text="#{calendar.view.title}"></a>
                            <a th:if="${event.type} == 'reservation'"
                               th:href="@{/services/reservations/view/{id}(id=${event.getOrderId()})}"
                               class="btn btn-primary btn-sm"
                               th:text="#{calendar.view.title}"></a>
                        </div>
                    </div>
                </div>
            </div>


        <div class="row justify-content-center">
            <a class="btn btn-primary" th:href="@{/calendar/new}" th:text="#{calendar.create}">
                Create Event
            </a>
        </div>

    </div>

</div>
</body>
</html>