<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create New Service</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>

</head>
<body>
<div class="container p-4">

    <div class="text-center mb-4">
        <h1>Create New Event</h1>
    </div>


    <div class="row justify-content-center">

            <form class="d-flex flex-column" action="/calendar/add" method="post">
                <input type="text" name="name" class="form-control mb-2" placeholder="Event Title" required>
                <input type="datetime-local" name="date" class="form-control mb-2" required>
                <input type="text" name="description" class="form-control mb-2" placeholder="Event Description" required>

                <button type="submit" class="btn btn-primary mt-2">Add Event</button>
            </form>

    </div>
</div>

</body>
</html>
