<div id="frequencyOptionsContainer" th:fragment="frequencyOptionsContainer"
     th:if="${contractType == 'Recurring'}">
    <div class="form-group">
        <label for="frequency" th:text="#{contract.frequency}">Frequency</label>
        <select id="frequency"
                name="frequency"
                class="form-control"
                hx-get="/services/contracts/choose-custom-frequency-options"
                hx-target="#customOptionsContainer"
                hx-include="[name='frequency']"
                hx-swap="outerHTML">
            <option value="daily" th:selected="${frequency == 'daily'}"
                    th:text="#{frequency.daily}">Daily
            </option>
            <option value="weekly" th:selected="${frequency == 'weekly'}"
                    th:text="#{frequency.weekly}">Weekly
            </option>
            <option value="monthly" th:selected="${frequency == 'monthly'}"
                    th:text="#{frequency.monthly}">Monthly
            </option>
            <option value="custom" th:selected="${frequency == 'custom'}"
                    th:text="#{frequency.custom}">Custom
            </option>
        </select>
    </div>
</div>
<div id="customOptionsContainer" th:fragment="customOptionsContainer"
     th:if="${frequency == 'custom' and contractType == 'Recurring'}" class="form-group">
    <label>Customize Frequency</label>
    <input type="number"
           class="form-control"
           name="customFrequency"
           placeholder="Every X days/weeks/etc."
           th:value="${customFrequency}">
    <select name="customUnit" class="form-control">
        <option value="day" th:selected="${customUnit == 'day'}">Day</option>
        <option value="week" th:selected="${customUnit == 'week'}">Week</option>
        <option value="month" th:selected="${customUnit == 'month'}">Month</option>
        <option value="year" th:selected="${customUnit == 'year'}">Year</option>
    </select>
</div>