<div th:fragment="productRow" class="input-group mb-2">
    <!-- Product Selection -->
    <select th:name="'products[' + ${index} + ']'" class="form-select" required>
        <option th:each="productOption : ${products}" th:value="${productOption.id}" th:text="${productOption.name}">
            Product Name
        </option>
    </select>
    <!-- Quantity Input -->
    <input th:name="'quantities[' + ${index} + ']'" class="form-control" type="number" placeholder="Quantity" min="1"
           required>
    <!-- Delete Button -->
    <button type="button" class="btn btn-danger ml-2"
            hx-get="/services/empty-response"
            hx-target="closest .input-group"
            hx-swap="delete">
        Delete
    </button>
</div>

