.basket {
    background-color: #f5f0f7;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.basket-content {
    flex: 1;
    max-height: 65%;
    overflow-y: auto;
}

.basket-footer {
    margin-top: 40px;
    align-self: center;
}

.basket-submit-btn {
    width: 170px;
    height: 40px;
}

.basket-head {
    align-self: center;
}

.basket-header {
    font-size: 20px;
    padding-top: 0;
}

.basket-img {
    height: 12px;
}

.close-btn{
    border-color: #eeeeee;
}

.basket-card {
    width: calc(100% - 5px);
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    flex-direction: column;
    position: relative;
}

.basket-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.basket-card-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    width: 140px;
    max-width: 140px;
    overflow: hidden;
}

.basket-minus-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-color: #eeeeee;
    font-size: 16px;
}

.basket-card-body {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.basket-card-text {
    font-size: 14px;
    color: #555;
    text-align: left;
}

.basket-card-footer {
    text-align: right;
    font-size: 14px;
    color: #888;
    margin-top: 8px;
}

