.content {
    margin-left: 160px;
    margin-right: 240px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.inputs-div {

    justify-content: space-around;
    display: flex;
    align-items: center;
}

#filter-div {
    display: flex;
    align-items: center;
    position: relative;
}

#filter-dd {
    margin-right: 8px;
}

#filter-div img {
    width: 20px;
    height: 20px;
}
