nav {
  width: 150px;
  padding-top: 200px;
  background-color: #f5f0f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-brand {
  font-size: 16px;
  color: #333;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.nav {
  width: 100%;
}

.nav-item {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #555;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0;
  transition: background-color 0.2s ease;
}

.nav-link:hover {
  background-color: #e0dbeb;
  border-radius: 8px;
}

.nav-link i {
  font-size: 20px;
  margin-bottom: 5px;
  color: #673ab7;
}

.nav-link.active {
  background-color: #d1c4e9;
  border-radius: 8px;
  color: #333;
  font-weight: bold;
}
