<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title>Not Found</title>
  </head>
  <body class="bg-light">
    <div
      class="container d-flex flex-column justify-content-center align-items-center vh-100"
    >
      <div class="text-center">
        <h1 class="display-3 text-danger">404</h1>
        <h2 class="mb-4">Not Found</h2>
        <p class="lead">Sorry, this page doesn't exists.</p>
        <a href="/" class="btn btn-primary btn-lg mt-3">
          <i class="fas fa-home"></i> Go to Homepage
        </a>
      </div>
    </div>
  </body>
</html>
