<div class="basket" th:fragment="basket">
  <h2 class="basket-head">Modify order</h2>
  <div class="basket-head">
    <img class="basket-img" th:src="@{/resources/img/shopping-basket.png}" />
    <b class="basket-header">Your basket</b>
  </div>
  <table class="basket-table">
    <tbody>
      <tr th:each="selectedBusket : ${basket}">
        <td>
          <div class="basket-card">
            <div class="basket-card-header">
              <span
                class="basket-card-name"
                th:text="${selectedBusket.flower.name}"
              ></span>
              <form method="post" action="/remove-from-basket">
                <input
                  type="hidden"
                  name="flowerName"
                  th:value="${selectedBusket.flower.name}"
                />
                <button type="submit">
                  <img
                    class="basket-img close-btn"
                    th:src="@{/resources/img/close.png}"
                  />
                </button>
              </form>
            </div>
            <div class="basket-card-body">
              <p
                class="basket-card-text"
                th:text="${selectedBusket.quantity} + 'x' + ${selectedBusket.flower.pricing.sellPrice.number*1.0} + ' EUR'"
              ></p>
            </div>
            <div class="basket-card-footer">
              <!-- th:text="${selectedFlower.price} + ' EUR'" -->
              <span
                th:text="${selectedBusket.quantity*selectedBusket.flower.pricing.sellPrice.number*1.0} + ' EUR'"
              ></span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="basket-footer" th:unless="${basket.isEmpty()}">
    <input
      class="basket-submit-btn"
      type="button"
      th:value="#{basket.footer.button}"
    />
  </div>
</div>
