<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{services.event.edit}">Edit Event Form</title>
    <!-- Bootstrap CSS CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-2">
    <div class="text-center mb-4">
        <h1 th:text="#{services.event.edit}">Edit Event Form</h1>
    </div>
    <div class="container mt-5">
        <form th:action="@{/services/events/edit/{id}(id=${eventOrder.id})}" method="post"
              class="p-4 border rounded shadow-sm">
            <input type="hidden" name="_method" value="PUT">

            <!-- Company Name -->
            <div class="mb-3">
                <label for="clientName" class="form-label" th:text="#{client.name}">Client Name</label>
                <input type="text" class="form-control" th:value="${eventOrder.client.name}" id="clientName"
                       name="clientName" required>
            </div>

            <!-- Event Date and Time -->
            <div class="mb-3">
                <label for="eventDate" class="form-label" th:text="#{event.eventDate}">Event Date</label>
                <input type="date" class="form-control" th:value="${eventOrder.eventDate}" id="eventDate"
                       name="eventDate" required>
            </div>
            <!-- Delivery Address -->
            <div class="mb-3">
                <label for="deliveryAddress" class="form-label" th:text="#{event.deliveryAddress}">Delivery
                    Address</label>
                <input class="form-control" th:value="${eventOrder.deliveryAddress}" id="deliveryAddress"
                       name="deliveryAddress" rows="3" placeholder="Please enter address"></input>
            </div>

            <!-- Contact Phone -->
            <div class="mb-3">
                <label for="phone" class="form-label" th:text="#{contract.phone}">Phone</label>
                <input type="tel" class="form-control" th:value="${eventOrder.client.phone}" id="phone" name="phone"
                       placeholder="+1 xxx xxx xxx" required>
            </div>

            <!-- Products Section -->
            <div class="mb-3">
                <input type="hidden" id="product-index" name="index" value="0">
                <label class="form-label" th:text="#{order.selectProducts}">Select Products</label>
                <div id="product-container" data-index="0">
                    <div th:each="orderLine : ${eventOrder.orderLines}" class="input-group mb-2">
                        <select th:name="'products[' + ${orderLine.productIdentifier} + ']'" class="form-select"
                                required>
                            <option th:each="product : ${products}"
                                    th:value="${product.id}"
                                    th:selected="${product.id == orderLine.productIdentifier}"
                                    th:text="${product.name}">
                            </option>
                        </select>
                        <input th:name="'quantities[' + ${orderLine.productIdentifier} + ']'"
                               class="form-control"
                               type="number"
                               th:value="${orderLine.quantity}"
                               placeholder="Quantity"
                               min="1"
                               required>
                        <button th:text="#{order.deleteProduct}"
                                type="button"
                                class="btn btn-danger ml-2"
                                hx-on="click: this.closest('.input-group').remove();">
                            Delete
                        </button>
                    </div>
                </div>
                <button th:text="#{order.addProduct}"
                        hx-get="/services/add-product-row"
                        hx-target="#product-container"
                        hx-swap="beforeend"
                        hx-include="#product-index"
                        hx-on="htmx:afterRequest: document.getElementById('product-index').value = parseInt(document.getElementById('product-index').value) + 1;"
                        type="button"
                        class="btn btn-outline-primary mt-2">
                    Add Product
                </button>
            </div>

            <!-- Payment Method -->
            <div class="mb-3">
                <label for="paymentMethod" class="form-label" th:text="#{order.paymentMethod}">Payment Method</label>
                <select th:value="${eventOrder.paymentMethod}" id="paymentMethod" class="form-control"
                        name="paymentMethod"
                        required>
                    <option value="Cash" th:selected="${eventOrder.paymentMethod.toString() == 'Cash()'}"
                            th:text="#{order.payment.cash}">Cash
                    </option>
                    <option value="Card" th:selected="${eventOrder.paymentMethod.toString() == 'Card()'}"
                            th:text="#{order.payment.card}">Card
                    </option>
                </select>
            </div>

            <!-- Order Status -->
            <div class="mb-3">
                <label class="form-label" th:text="#{order.status}">Order Status</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="orderStatus" id="statusOpen" value="OPEN"
                           th:checked="${eventOrder.orderStatus.name() == 'OPEN'}">
                    <label class="form-check-label" for="statusOpen" th:text="#{order.status.open}">Open</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="orderStatus" id="statusPaid" value="PAID"
                           th:checked="${eventOrder.orderStatus.name() == 'PAID'}">
                    <label class="form-check-label" for="statusPaid" th:text="#{order.status.paid}">Paid</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="orderStatus" id="statusCompleted"
                           value="COMPLETED"
                           th:checked="${eventOrder.orderStatus.name() == 'COMPLETED'}">
                    <label class="form-check-label" for="statusCompleted"
                           th:text="#{order.status.completed}">Completed</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="orderStatus" id="statusCanceled" value="CANCELED"
                           th:checked="${eventOrder.orderStatus.name() == 'CANCELED'}">
                    <label class="form-check-label" for="statusCanceled"
                           th:text="#{order.status.canceled}">Canceled</label>
                </div>
            </div>

            <!-- Notes -->
            <div class="mb-3">
                <label for="notes" class="form-label" th:text="#{event.notes}">Notes</label>
                <textarea class="form-control" th:value="${eventOrder.notes}" id="notes" name="notes" rows="3"
                          placeholder="Enter any additional notes here"></textarea>
            </div>

            <!-- Error Message -->
            <div th:if="${error}" class="alert alert-danger" role="alert">
                <span th:text="${error}"></span>
            </div>

            <!-- Submit Button -->
            <div class="text-center">
                <button type="submit" class="btn btn-primary" th:text="#{action.submit}">Submit</button>
                <a href="/services" class="btn btn-secondary" th:text="#{action.cancel}">Cancel</a>
            </div>
        </form>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
